name: Tests

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  test:
    name: PHP ${{ matrix.php }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        php: ['8.0', '8.1', '8.2', '8.3']
        include:
          - os: windows-latest
            php: '8.3'
          - os: macos-latest
            php: '8.3'
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: mbstring, json
        coverage: xdebug
        tools: composer:v2
    
    - name: Validate composer.json
      run: composer validate --strict
    
    - name: Get composer cache directory
      id: composer-cache
      run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
    
    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-
    
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-interaction
    
    - name: Run test suite
      run: composer test
    
    - name: Generate coverage report
      if: matrix.php == '8.3' && matrix.os == 'ubuntu-latest'
      run: composer test:coverage
    
    - name: Display coverage summary
      if: matrix.php == '8.3' && matrix.os == 'ubuntu-latest'
      run: |
        if [ -f coverage/clover.xml ]; then
          php -r "
            \$xml = simplexml_load_file('coverage/clover.xml');
            if (\$xml && \$xml->project && \$xml->project->metrics) {
              \$metrics = \$xml->project->metrics;
              \$statements = (int)\$metrics['statements'];
              \$coveredStatements = (int)\$metrics['coveredstatements'];
              if (\$statements > 0) {
                \$coverage = round((\$coveredStatements / \$statements) * 100, 2);
                echo \"Code Coverage: \$coverage% (\$coveredStatements/\$statements statements)\" . PHP_EOL;
              } else {
                echo 'No coverage data available' . PHP_EOL;
              }
            } else {
              echo 'Could not parse coverage report' . PHP_EOL;
            }
          "
        else
          echo "Coverage report not found"
        fi
    
    - name: Upload coverage to Codecov
      if: matrix.php == '8.3' && matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage/clover.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false
